/* ------------------------------
　　ベース
------------------------------ */
body {
	color: #333;
	font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3',Meiryo,'メイリオ','ＭＳ Ｐゴシック','MS PGothic',Verdana,sans-serif;
	font-size: 16px;
	background: #FFF;
	border-top: 10px solid #CCC;
}

/* リンクの設定 */
a {
	border: none;
	color: #006DD9;
	text-decoration: none;
}
a:visited {
	color: #7F5AD7;
	text-decoration: none;
}
a:active {
	color: #006DD9;
	text-decoration: none;
}

a:hover {
	color: #006DD9;
	text-decoration: underline;
}


/* フロート解除(不可視) */
.clearfix:after {
	clear: both;
	display: block;
	visibility: hidden;
	height: 0;
	content: ".";
}
.clearfix {
	_display: inline-table;
	zoom: 1;
}
