/* ------------------------------
　　フッター
------------------------------ */

.footer {
	padding: 20px 0;
	color: #FFF;
	background: #333;
}

/* 著作権表示 */
.copyright {
	margin: 0;
	color: #FFF;
	text-align: center;
}
