/* ------------------------------
　　テーマ
------------------------------ */
.theme-tomato {
	border-top: 10px solid tomato;
}

.theme-skyblue {
	border-top: 10px solid skyblue;
}

.theme-lime {
	border-top: 10px solid lime;
}
